/* Default styles for all screen sizes */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Header styles */
header {
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.btn-search {
  background-color: #f061b7;
  padding: 6px 10px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 700;
  width: fit-content;
}
.search-field {
  display: flex;
  gap: 10px;
}
.car-loan{
  display: flex;
  align-items: center;
  gap: 7px;
  left: 700px;
  top: 100px;
  position: absolute;
  padding: 8px 20px;
  border: 10px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  background-color: white;
}
.loan-calculate-btn {
  margin-left: 10px;
   background-color: #ffffff;
   padding: 6px 10px;
   cursor: pointer;
   color: #f061b7;;
   border: 1px solid  #f061b7;;
   border-radius: 5px;
   width: fit-content;
 } 
/* Hero section styles */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f2f2f2;
}

.hero-left-section,
.hero-right-section {
  flex: 1;
}
.hero-right-section-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  right: 70px;
  bottom: 400px;
  position: absolute;
  padding: 8px 10px;
  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  background-color: white;
}

/* Footer styles */
footer{
  display: flex;
  justify-content:space-between;
}
.icon{
  display: flex;
  gap: 10px;
  margin-left: 130px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */

  nav {
    flex-direction: column;
    align-items: center;
  }

  ul {
    margin-top: 10px;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .hero-left-section,
  .hero-right-section {
    margin-bottom: 20px;
  }
 /* Adjusting button positions in the media query */
 .car-loan {
  left: 200px;
  top: auto;
  right: 10px;
  bottom: 10px;
  position: relative;
}

.loan-calculate-btn {
  margin-left: 0;
}

.hero-right-section-btn {
  right: auto;
  bottom: auto;
  left: 400px;
  top: 10px;
  position: relative;
}
  
}
