*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.bg-image{
  background-image: url(/WebPageClone/assets/background-image.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 10px 5px;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  font-weight: 700;
  font-size: larger;
}

.btn-search {
  background-color: #f061b7;
  padding: 6px 10px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 700;
  width: fit-content;
}

.search-field {
  display: flex;
  gap: 10px;
}
.car-loan{
  display: flex;
  align-items: center;
  gap: 7px;
  left: 700px;
  top: 100px;
  position: absolute;
  padding: 8px 20px;
  border: 10px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  background-color: white;
}
 .loan-calculate-btn {
 margin-left: 10px;
  background-color: #ffffff;
  padding: 6px 10px;
  cursor: pointer;
  color: #f061b7;;
  border: 1px solid  #f061b7;;
  border-radius: 5px;
  width: fit-content;
} 

/* hero Section */
.hero-section {
  display: flex;
  align-items: center;
}
/* hero left section */
.hero-left-section {
  width: 50%;
  padding: 0 8%;
}

.hero-left-section h1 {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.hero-left-section p{
  font-weight:100;
  font-size: 20px;
  margin-bottom: 20px;
}
/* Right Section */
.hero-right-section {
  display: flex;
  /* width: 50%; */
  align-items: center;
  
}
.hero-right-section-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  right: 70px;
  bottom: 400px;
  position: absolute;
  padding: 8px 10px;
  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  background-color: white;
}
/* footer */
footer{
  display: flex;
  justify-content:space-between;
}
.icon{
  display: flex;
  gap: 10px;
  margin-left: 130px;
}